/* Body Desktop*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #222;

}

* {
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

/* Header */

nav {
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.title-logo {
  font-size: 25px;
  letter-spacing: 3px;
  background-color: #2196f6;
  padding: 6px;
  border-radius: 8px;
  font-weight: 200;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-transform: uppercase;
}

.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
  padding: 5px 10px;
  border-radius: 8px;
}

#active {
  color: #2196f6;
  letter-spacing: 5px;
}

.nav-links a:hover {
  color: #2196f6;
  letter-spacing: 5px;
  transition: 0.6s ease-in-out;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}

/* Main */


.container {
  max-width: 70%;
  height: 60vh;
  background-color: #2196f6;
  margin: auto;
  margin-top: 4%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.title {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;


}

.subtitle {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;

}

.box-links {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.social-media {
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  padding:10px 30px;
  border-radius: 20px;
}

.social-media:hover {
  background-color: #808080;
  transition: .6s ease-in-out;
}

/* Mobile */

@media (max-width: 760px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 10vh;
    min-height: 92vh;
    background: #222;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
  }

  .nav-links a {
    opacity: 0;

  }

  .burger {
    display: block;
  }

}

@media (max-width: 640px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
}

.nav-active {
  transform: translateX(0);
}

@media (max-width: 460px) {
  body{
    overflow: hidden;
  }


  /* Header */

  .nav-links {
    width: 100%;
    transition: All 0.5s ease;
  }



  /* Main */

  .container {
    margin: auto;
    margin-top: 20%;
    max-width: 80%;
    height: 50%;
    align-items: center;

  }

  .title-logo {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
    margin: 30px 0;
  }

  .subtitle {
    font-size: 25px;
  }

  .box-links {
    margin-top: 20px;
    height: 100px;

  }

  .social-media {
    padding: 15px;
  }

  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    display: block;
  }

}

.nav-active {
  transform: translateX(0);
}





/* Animation */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}